{% extends 'blog/blog-base.html' %}
{% load posttag %}
{% load static %}
{% block extrahead %}
	<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
	<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'blog/css/prism.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'lobibox/css/lobibox.css' %}">
	<link rel="stylesheet" href="{% static 'lobibox/css/Lobibox.min.css' %}"/>
	{{ block.super }}
{% endblock %}
{% block  wrapper_content %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 bottom-border　text-center" id="article-content" style="border-bottom: 1px solid #DDDDDD;">
					<h1 class="title title-blog" style="text-align:center;">{{ article.title }}</h1>
					{{ article.content | safe }}
				</div>

				<div class="col-md-3 col-md-offset-1">
					<div class="social-buttons">
						<h3 class="title title-blog">Shares &middot; 3,4K</h3>
						<a href="#" class="btn btn-social btn-round btn-fill btn-facebook">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#" class="btn btn-social btn-round btn-fill btn-twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#" class="btn btn-social btn-round btn-fill btn-google">
							<i class="fa fa-google-plus"></i>
						</a>
						<a href="#" class="btn btn-social btn-round btn-fill btn-pinterest">
							<i class="fa fa-pinterest"></i>
						</a>
					</div>


					<h3 class="title title-blog">Tags </h3>
					{% for tag in tags %}
					<span class="label label-warning label-fill">{{ tag.name }}</span>
					{% endfor %}

					<h3 class="title title-blog">Author</h3>
					<div class="media media-author">
						<a class="pull-left" href="#">
							<div class="avatar">
								<img class="media-object" src="{{ article_author.avatar.url }}" alt="...">
							</div>
						</a>
						<div class="media-body">
							<h6 class="media-heading">{{ article_author.nickname }}</h6>
							<p class="text-muted">Moderator</p>
						</div>
						<p>{{ article.description }}</p>
						<button class="btn btn-round btn-info btn-sm">
							Follow
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container container-comments">
			<h3 class="title">Comments</h3>
			<div class="row">
				<div class="col-md-8 ">
					<div class="media-area">
						{% for comment in comments %}
							{% if not comment.1 %}
								<div class="media" id="{{ comment.0.id }}">
									<a class="pull-left" href="#">
										<div class="avatar">
											<img class="media-object" src="{{ comment.0.user.userprofile.avatar.url }}"
											     alt="{{ request.user.username }}">
										</div>
									</a>
									<div class="media-body">
										<h4 class="media-heading">{{ comment.0.user.userprofile.nickname }}</h4>
										<h6 class="pull-right text-muted">{{ comment.0.date_publish|date:"Y-m-d H:i:s" }}</h6>

										<p>{{ comment.0.content }}</p>

										<div class="media-footer">
											{% ifnotequal request.user comment.0.user %}
												<a href="#" class="btn btn-info btn-simple "
												   onclick="reply(this);return false;"> <i class="fa fa-reply"></i>
													Reply</a>
											{% endifnotequal %}
											<a href="#" class="btn btn-danger btn-simple pull-right">
												<i class="fa fa-heart"></i> 243
											</a>
										</div>
										<div class="media media-post" style="display: none;">
											<a class="pull-left author" href="#">
												<div class="avatar">
													<img class="media-object" alt="64x64"
													     src="{{ request.user.userprofile.avatar.url }}">
												</div>
											</a>
											<div class="media-body">
											<textarea class="form-control" id="comment" placeholder="评论一句，知音难寻～"
											          rows="6"></textarea>
												<div class="media-footer">
													<a href="#"
													   class="btn btn-info btn-round btn-fill btn-wd pull-right"
													   onclick="reply_comment(this);return false;">Post
														Comment</a>
												</div>
											</div>
										</div>
									</div>
								</div><!-- end media -->
							{% else %}
								<div class="media" id="{{ comment.0.id }}">
									<a class="pull-left" href="#">
										<div class="avatar">
											<img class="media-object" alt="{{ request.user.username }}"
											     src="{{ comment.0.user.userprofile.avatar.url }}">
										</div>
									</a>
									<div class="media-body">

										<h4 class="media-heading">{{ comment.0.user.userprofile.nickname }}</h4>
										<h6 class="pull-right text-muted">{{ comment.0.date_publish|date:"Y-m-d H:i:s" }}</h6>

										<p>{{ comment.0.content }}</p>

										<div class="media-footer">
											{% ifnotequal request.user comment.0.user %}
												<a href="#" class="btn btn-info btn-simple "
												   onclick="reply(this);return false;"> <i class="fa fa-reply"></i>
													Reply</a>
											{% endifnotequal %}
											<a href="#" class="btn btn-danger btn-simple pull-right">
												<i class="fa fa-heart"></i> 243
											</a>
										</div>
										<div class="media media-post" style="display: none;">
											<a class="pull-left author" href="#">
												<div class="avatar">
													<img class="media-object" alt="64x64"
													     src="{{ request.user.userprofile.avatar.url }}">
												</div>
											</a>
											<div class="media-body">
											<textarea class="form-control" id="comment" placeholder="评论一句，知音难寻～"
											          rows="6"></textarea>
												<div class="media-footer">
													<a href="#"
													   class="btn btn-info btn-round btn-fill btn-wd pull-right"
													   onclick="reply_comment(this);return false;">Post
														Comment</a>
												</div>
											</div>
										</div>
										{% for subcomment in comment.1 %}
											{% if not subcomment.reply_to_user_id %}
												<div class="media" id="{{ subcomment.id }}" name="{{ subcomment.user.id }}">
												<a class="pull-left" href="#">
													<div class="avatar">
														<img class="media-object" alt="64x64"
														     src="{{ subcomment.user.userprofile.avatar.url }}">
													</div>
												</a>
												<div class="media-body">
													<h4 class="media-heading">{{ subcomment.user.userprofile.nickname }}</h4>
													{#										<h6 class="pull-left text-muted">repaly to lufangfan</h6>#}
													<h6 class="pull-right text-muted">{{ subcomment.date_publish|date:"Y-m-d H:i:s" }}</h6>

													<p>{{ subcomment.content }}</p>

													<div class="media-footer">
														{% ifnotequal request.user subcomment.user %}
															<a href="#" class="btn btn-info btn-simple "
															   onclick="reply(this);return false;"> <i
																	class="fa fa-reply"></i>
																Reply</a>
														{% endifnotequal %}
														<a href="#" class="btn btn-danger btn-simple pull-right">
															<i class="fa fa-heart"></i> 243
														</a>
													</div>

													<div class="media media-post" style="display: none;">
														<a class="pull-left author" href="#">
															<div class="avatar">
																<img class="media-object" alt="64x64"
																     src="{{ request.user.userprofile.avatar.url }}">
															</div>
														</a>
														<div class="media-body">
											<textarea class="form-control" id="comment" placeholder="评论一句，知音难寻～"
											          rows="6"></textarea>
															<div class="media-footer">
																<a href="#"
																   class="btn btn-info btn-round btn-fill btn-wd pull-right"
																   onclick="reply_user(this);return false;">Post
																	Comment</a>
															</div>
														</div>
													</div>
												</div>
											</div> <!-- end media -->
											{% else %}
												<div class="media" id="{{ subcomment.id }}" name="{{ subcomment.user.id }}">
												<a class="pull-left" href="#">
													<div class="avatar">
														<img class="media-object" alt="64x64"
														     src="{{ subcomment.user.userprofile.avatar.url }}">
													</div>
												</a>
												<div class="media-body">
													<h4 class="media-heading">{{ subcomment.user.userprofile.nickname }}&nbsp;回复：{{ subcomment.reply_to_user_id|get_nickname }}</h4>
													{#										<h6 class="pull-left text-muted">repaly to lufangfan</h6>#}
													<h6 class="pull-right text-muted">{{ subcomment.date_publish|date:"Y-m-d H:i:s" }}</h6>

													<p>{{ subcomment.content }}</p>

													<div class="media-footer">
														{% ifnotequal request.user subcomment.user %}
															<a href="#" class="btn btn-info btn-simple "
															   onclick="reply(this);return false;"> <i
																	class="fa fa-reply"></i>
																Reply</a>
														{% endifnotequal %}
														<a href="#" class="btn btn-danger btn-simple pull-right">
															<i class="fa fa-heart"></i> 243
														</a>
													</div>

													<div class="media media-post" style="display: none;">
														<a class="pull-left author" href="#">
															<div class="avatar">
																<img class="media-object" alt="64x64"
																     src="{{ request.user.userprofile.avatar.url }}">
															</div>
														</a>
														<div class="media-body">
											<textarea class="form-control" id="comment" placeholder="评论一句，知音难寻～"
											          rows="6"></textarea>
															<div class="media-footer">
																<a href="#"
																   class="btn btn-info btn-round btn-fill btn-wd pull-right"
																   onclick="reply_user(this);return false;">Post
																	Comment</a>
															</div>
														</div>
													</div>
												</div>
											</div> <!-- end media -->

											{% endif %}
										{% endfor %}
									</div>
								</div> <!-- end media -->
							{% endif %}
						{% endfor %}
						<!--  Comment                    -->

						<div class="media media-post">
							<a class="pull-left author" href="#">
								<div class="avatar">
									<img class="media-object" alt="64x64"
									     src="{{ request.user.userprofile.avatar.url }}">
								</div>
							</a>
							<div class="media-body">
								<textarea class="form-control" id="comment"
								          placeholder="评论一句，知音难寻～"
								          rows="6"></textarea>
								<div class="media-footer">
									<a href="#" class="btn btn-info btn-round btn-fill btn-wd pull-right"
									   onclick="post_comment(this);return false;">Post
										Comment</a>
								</div>
							</div>
						</div>
					</div> <!-- end media-area -->
				</div> <!-- end col-md-8 -->
			</div>
		</div>
	</div>
{% endblock %}
{% block extrajs %}
	<script src="{% static 'lobibox/js/lobibox.min.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#article-content img").addClass('img-responsive');
			$("#article-content img").attr('style', 'height:auto');
			$("#article-content img").wrap("<a></a>");
			$("#article-content img").each(function () {
				$(this).wrap("<a target='_Blank' href=" + $(this).attr("src") + "></a>");
			});
		});

		function post_comment(obj) {
			var comment = $(obj).parent().prev().val();
			if (/[^\s]+/.test(comment)) {
				$.ajax({
					//提交数据的类型 POST GET
					type: "POST",
					//提交的网址
					url: "{% url 'comment_submit' %}",
					//提交的数据
					data: {
						comment: comment,
						user_id: {{ request.user.id }},
						article_id: {{ article.id }},
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					//返回数据的格式
					datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
					//在请求之前调用的函数
					beforeSend: function () {

					},
					//成功返回之后调用的函数
					success: function (data) {
												console.log(data);
												console.log(data['comment']['nickname']);
						var nickname = data['comment']['nickname'];
						var avatar = data['comment']['avatar'];
						var content = data['comment']['content'];
						var date_publish = data['comment']['date_publish'].split('T')[0] + ' ' + data['comment']['date_publish'].split('T')[1].split('.')[0];
						{#						console.log(date_publish);#}
						var comment_html = '<div class="media">' +
								'<a class="pull-left" href="#">' +
								'<div class="avatar">' +
								'<img class="media-object" src=" ' + avatar + ' " alt="...">' +
								'</div>' +
								'</a>' +
								'<div class="media-body">' +
								'<h4 class="media-heading">' + nickname + '</h4>' +
								'<h6 class="pull-right text-muted">' + date_publish + '</h6>' +

								'<p>' + content + '</p>' +

								'<div class="media-footer">' +

								'<a href="#" class="btn btn-danger btn-simple pull-right">' +
								'<i class="fa fa-heart"></i> 243' +
								'</a>' +
								'</div>' +
								'</div>' +
								'</div>';
						{#						console.log(comment_html);#}
						$(comment_html).insertBefore($(obj).parent().parent().parent());
						$(obj).parent().prev().val('');
						{#						console.log('???');#}
					},
					//调用执行后调用的函数
					complete: function (XMLHttpRequest, textStatus) {

					},
					//调用出错执行的函数
					error: function () {
						//请求出错处理
						Lobibox.alert('error', {msg: "服务器异常，请稍后再试！"});
					}
				});
			} else {
				Lobibox.alert('warning', {msg: "sao年，你啥都没说啊！"});
			}
		}

		function reply(obj) {
			$(obj).parent().next().toggle();
		}

		function reply_comment(obj) {
			var comment = $(obj).parent().prev().val();
			var supercomment_id = $(obj).parent().parent().parent().parent().parent().attr("id");
			alert(comment+supercomment_id);
			if (/[^\s]+/.test(comment)) {
				$.ajax({
					//提交数据的类型 POST GET
					type: "POST",
					//提交的网址
					url: "{% url 'comment_submit' %}",
					//提交的数据
					data: {
						comment: comment,
						user_id: {{ request.user.id }},
						article_id: {{ article.id }},
						csrfmiddlewaretoken: '{{ csrf_token }}',
						supercomment_id: supercomment_id
					},
					//返回数据的格式
					datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
					//在请求之前调用的函数
					beforeSend: function () {

					},
					//成功返回之后调用的函数
					success: function (data) {
						console.log(data);
						console.log(data['comment']['nickname']);
						var nickname = data['comment']['nickname'];
						var avatar = data['comment']['avatar'];
						var content = data['comment']['content'];
						var date_publish = data['comment']['date_publish'].split('T')[0] + ' ' + data['comment']['date_publish'].split('T')[1].split('.')[0];
						console.log(date_publish);
						var comment_html = '<div class="media">' +
								'<a class="pull-left" href="#">' +
								'<div class="avatar">' +
								'<img class="media-object" src=" ' + avatar + ' " alt="...">' +
								'</div>' +
								'</a>' +
								'<div class="media-body">' +
								'<h4 class="media-heading">' + nickname + '</h4>' +
								{#										<h6 class="pull-left text-muted">repaly to lufangfan</h6>#}
								'<h6 class="pull-right text-muted">' + date_publish + '</h6>' +

								'<p>' + content + '</p>' +

								'<div class="media-footer">' +
								'<a href="#" class="btn btn-danger btn-simple pull-right">' +
								'<i class="fa fa-heart"></i> 43' +
								'</a>' +
								'</div>' +
								'</div>' +
								'</div>';
						<!-- end media -->
						console.log(comment_html);
						$(comment_html).insertAfter($(obj).parent().parent().parent());
						$(obj).parent().prev().val('');
						$(obj).parent().parent().parent().hide();
						console.log('???');
					},
					//调用执行后调用的函数
					complete: function (XMLHttpRequest, textStatus) {

					},
					//调用出错执行的函数
					error: function () {
						//请求出错处理
						Lobibox.alert('error', {msg: "服务器异常，请稍后再试！"});
					}
				});
			} else {
				Lobibox.alert('warning', {msg: "sao年，你啥都没说啊！"});
			}
		}

		function reply_user(obj) {
			var comment = $(obj).parent().prev().val();
			var supercomment_id = $(obj).parent().parent().parent().parent().parent().parent().parent().attr("id");
			var reply_user_id = $(obj).parent().parent().parent().parent().parent().attr("name");
			var reply_user_name = $(obj).parent().parent().parent().prev().prev().prev().prev().text();
			if (/[^\s]+/.test(comment)) {
				$.ajax({
					//提交数据的类型 POST GET
					type: "POST",
					//提交的网址
					url: "{% url 'comment_submit' %}",
					//提交的数据
					data: {
						comment: comment,
						user_id: {{ request.user.id }},
						article_id: {{ article.id }},
						csrfmiddlewaretoken: '{{ csrf_token }}',
						supercomment_id: supercomment_id,
						reply_user_id: reply_user_id
					},
					//返回数据的格式
					datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
					//在请求之前调用的函数
					beforeSend: function () {

					},
					//成功返回之后调用的函数
					success: function (data) {
						console.log(data);
						console.log(data['comment']['nickname']);
						var nickname = data['comment']['nickname'];
						var avatar = data['comment']['avatar'];
						var content = data['comment']['content'];
						var date_publish = data['comment']['date_publish'].split('T')[0] + ' ' + data['comment']['date_publish'].split('T')[1].split('.')[0];
						console.log(date_publish);
						var comment_html = '<div class="media">' +
								'<a class="pull-left" href="#">' +
								'<div class="avatar">' +
								'<img class="media-object" src=" ' + avatar + ' " alt="...">' +
								'</div>' +
								'</a>' +
								'<div class="media-body">' +
								'<h4 class="media-heading">' + nickname + '回复：' + reply_user_name + '</h4>' +
								{#										<h6 class="pull-left text-muted">repaly to lufangfan</h6>#}
								'<h6 class="pull-right text-muted">' + date_publish + '</h6>' +

								'<p>' + content + '</p>' +

								'<div class="media-footer">' +
								'<a href="#" class="btn btn-danger btn-simple pull-right">' +
								'<i class="fa fa-heart"></i> 43' +
								'</a>' +
								'</div>' +
								'</div>' +
								'</div>';
						<!-- end media -->
						console.log(comment_html);
						$(comment_html).insertAfter($(obj).parent().parent().parent().parent().parent());
						$(obj).parent().prev().val('');
						$(obj).parent().parent().parent().hide();
						console.log('???');
					},
					//调用执行后调用的函数
					complete: function (XMLHttpRequest, textStatus) {

					},
					//调用出错执行的函数
					error: function () {
						//请求出错处理
						Lobibox.alert('error', {msg: "服务器异常，请稍后再试！"});
					}
				});
			} else {
				Lobibox.alert('warning', {msg: "sao年，你啥都没说啊！"});
			}
		}

	</script>
{% endblock %}
