{% extends 'blog/blog-base.html' %}
{% block  wrapper_content %}
	<div class="section">
		<div class="container">
			<h2 class="section-title">Latest Stories</h2>
			<div class="row">
				{% for article in articles %}

					<div class="col-md-12">
						<div class="card card-plain">
							<div class="image">
								<img src="{{ article.thumbnail.url }}" alt="...">
								<div class="filter">
{#									<button type="button" class="btn btn-neutral btn-simple">#}
{#										<i class="fa fa-bookmark-o"></i> Bookmark#}
{#									</button>#}
									<a type="button" class="btn btn-neutral btn-simple"
									   href="{% url 'blog_post' article.id %}">
										<i class="fa fa-align-left"></i> Read article
									</a>
								</div>
							</div>
							<div class="content">
								<p class="category text-info">
									<i class="fa fa-trophy"></i> {{ article.category }}
								</p>
								<span class="card-link" href="#">
									<h4 class="title">{{ article.description }}</h4>
								</span>
								<div class="footer">
									<div class="author">
										<a class="card-link" href="">
											<img src="{{ article.user.userprofile.avatar.url }}" alt="..." class="avatar"/>
											<span>{{ article.user.userprofile.nickname }}</span>
										</a>
									</div>
									<br>
									<div class="author">
										<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
										{{ article.date_publish|date:"Y-m-d H:i:s" }}


									</div>
									<div class="stats pull-right">
										<i class="fa fa-clock-o"></i> 7 min read
									</div>
									<div class="stats pull-right">
										<a class="card-link" href="#">
											<i class="fa fa-heart" style="color: red"></i> 92
										</a>
									</div>
									<div class="stats pull-right">
										<a class="card-link" href="#">
											<i class="fa fa-comment"></i> 41
										</a>
									</div>
								</div>
							</div>
						</div> <!-- end card -->
					</div>
				{% endfor %}
			</div>
		</div>
	</div><!-- section -->
{% endblock %}
